<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Cyclos Test Suite">
   <test name = "Sample test">
      <classes>
         <class name = "com.training.sanity.tests.Cyclos_TC06" />
         <class name = "com.training.sanity.tests.Cyclos_TC07" />
         <class name = "com.training.sanity.tests.Cyclos_TC08" />
         <class name = "com.training.sanity.tests.Cyclos_TC09" />
         <class name = "com.training.sanity.tests.Cyclos_TC26" />
         
      </classes>
   </test>
</suite>	